/*
*   HERO
*/
.word-slot {
    display: inline-block;
    vertical-align: bottom;
}
.word-track {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
}
.word-item {
    display: block;
    white-space: nowrap;
}


/* Followup section - Moving Letters */
.hp_hero_followup_content_wrapper .letter {
    display: inline-block;
}

/* Img Slide Curtain */
@media screen and (min-width: 768px) {
    .hp_curtain_effect_img_list {
        position: relative;
    }
    .hp_curtain_effect_img_container {
        position: absolute;
        clip-path: polygon(0% 100%, 100% 100%, 100% 100%, 0% 100%);
        overflow: clip;
    }
    .hp_curtain_effect_img {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
    }

    .hp_curtain_effect_img_container:nth-child(1) {
        z-index: 1;
    }
    .hp_curtain_effect_img_container:nth-child(2) {
        z-index: 2;
    }
    .hp_curtain_effect_img_container:nth-child(3) {
        z-index: 3;
    }
    .hp_curtain_effect_img_container:nth-child(4) {
        z-index: 4;
    }
}


@media screen and (min-width: 768px) {
    .hp_team_list_container.swiper {
        overflow: visible;
    }
    /* .hp_team_list_container .swiper-wrapper {
        display: flex;
        width: auto;
        transform: none !important;
    } */
    .hp_team_list_container .swiper-slide {
        flex-shrink: unset;
        width: auto;
        height: auto;
    }
}
